<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="public/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<h1 class="text-3xl text-yellow-600 border rounded-lg text-center mt-5 mb-5"><%= erreurs[0] %>></h1>
</body>

</html>