<header class="flex justify-between p-4 items-center flex-col md:flex-row bg-black/85">
	<div>
		<a id="Logo" href="http://localhost:3000/home" class="text-white text-3xl">ExpressMovie</a>
	</div>
	<div class="flex justify-around gap-10">
		<div>
			<% if (user) { %>
				<a href="http://localhost:3000/user/account" class="text-2xl text-yellow-600 text-center">
					<%= user.firstname %>
				</a>
				<% } else {%>
					<a class="text-white text-2xl hover:text-gray-300" href="http://localhost:3000/user/login">Login</a>
					<% } %>
						</a>
		</div>
	</div>
</header>